<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="app.js" defer></script>
    <title>AlowlaProject</title>
</head>

<body>
    <nav class="flex">
        <a href="#"><b>home</b></a>
        <a href="#"><b>Today's Meal</b></a>
        <a href="#"><b>Ingridan to Meal</b></a>
    </nav>

    <div class="search">
        <form action="./">
            <input type="search" name="s" id="SearchBar">
            <input type="submit" value="search">
        </form>
    </div>

    <div class="cont">
        <div class="card">
            <h2></h2>
            <img src="" alt="">
            <h4></h4>
            <p></p>
        </div>
        <div class="card">
            <h2></h2>
            <img src="" alt="">
            <h4></h4>
            <p></p>
        </div>
        <div class="card">
            <h2></h2>
            <img src="" alt="">
            <h4></h4>
            <p></p>
        </div>
    </div>
</body>

</html>